h1 {
    color: red;
    font-size: 72px;
    font-weight: 600;
}

p {
    font-size: 36px;
}

#mando {
    color: brown;
}

#grogu {
    color: green;
    font-size: 24px;
}

.tacos {
    color: purple
}